body{
    /* background-color: black; */
    /* color: pink; */
}
/* Header */
.header{
    padding-top: 10px;
    padding-bottom: 10px;

}

.toggle{
    position: relative;
    width: 35px;
    height: 25px;
    /* background-color: red; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toggle--active{
    
}

.toggle::after, .toggle::before, .toggle > span{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 4px;
}
.toggle::before{
    top: 0;
}
.toggle > span{
    margin: auto;
}
.toggle::after{
    bottom: 0;
}


.link{
    color: red;
}

.container{
    max-width: 1300px;
    padding: 0 80px!important;
    margin: auto!important;
    color: red!important;
}

.box{
    padding-top: 20px!important;
    color: black!important;
    display: flex;
    flex-direction: column;
}

.new{
    padding:2px 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
}
.box::before{
    content: "text";
    padding:2px 10px;
    border-radius: 5px;
    background-color: rgb(47, 0, 255);
    color: white;
}
.box::after{
    content: "text";
    padding:2px 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
}

/* Form */
.form{
    display: flex;
    justify-content: center;
    padding-top:20px!important;
    padding-bottom:20px!important;
}


.switch__toggle{
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid  rgb(90, 224, 57);
    cursor: pointer;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    transition: all .1s ease-in;
}

.switch__toggle::after{
    content:"";
    position: absolute;
    left: 3px;
    width:24px;
    height: 24px;
    background-color: rgb(90, 224, 57);
    border-radius: 50%;
    transition: left .1s ease-in;
}

.switch__input{
    appearance: none;
}
.switch__input:checked ~ .switch__toggle{
    border-color: rgb(214, 214, 214);
    background-color: rgba(131, 131, 248, 0.582);
}
.switch__input:checked ~ .switch__toggle::after{
    left: 33px;
    background-color: rgb(214, 214, 214);
}
